{% if server_hostname is not none %}
hostname                = {{ server_hostname | safe | tojson }};       // The name of the server that shall be displayed in the public server list
{% endif %}
{% if server_password is not none %}
password              = {{ server_password | safe | tojson }};       // Password for joining, eg connecting to the server
{% endif %}
{% if server_password_admin is not none %}
passwordAdmin           = {{ server_password_admin | safe | tojson }};             // Password to become server admin. When you're in Arma MP and connected to the server, type '#login xyz'
{% endif %}
reportingIP             = ""; // "arma3pc.master.gamespy.com" This is the default setting. Leave empty for private servers if you do not want your server listed publicly
logFile                 = "logs/server_console.log";
BattlEye				= 0;	// If set to 1, BattlEye Anti-Cheat will be enabled on the server (default: 1, recommended: 1)
verifySignatures        = 2; //0
equalModRequired        = 0;    // kick if data/mods aren't equal
requiredSecureId        = 2;

maxPlayers = 32;

kickDuplicate = 1;                           // Do not allow duplicate game IDs. Second player with an existing ID will be kicked automatically. 1 means active, 0 disabled.

allowedFilePatching = 0;                     // Allow or prevent client using -filePatching to join the server. 0, is disallow, 1 is allow HC, 2 is allow all clients (since Arma 3 1.49+)
allowedLoadFileExtensions[] = {"h","hpp","sqs","sqf","fsm","cpp","paa","txt","xml","inc","ext","sqm","ods","fxy","lip","csv","kb","bik","bikb","html","htm","biedi", "b64"};
allowedPreprocessFileExtensions[] = {"h","hpp","sqs","sqf","fsm","cpp","paa","txt","xml","inc","ext","sqm","ods","fxy","lip","csv","kb","bik","bikb","html","htm","biedi"};
allowedHTMLLoadExtensions[] = {"htm","html","xml","txt"};
//allowedHTMLLoadURIs = {};                  // Leave commented to let missions/campaigns/addons decide what URIs are supported. Uncomment to define server-level restrictions for URIs
onUnsignedData = "kick (_this select 0)";    // unsigned data detected
onHackedData = "kick (_this select 0)";      // "ban (_this select 0)"; // tampering of the signature detected
onDifferentData = "";                        // data with a valid signature, but different version than the one present on server detected
doubleIdDetected = "";  

// MISSIONS CYCLE (see below)
autoSelectMission = true; // Server auto selects next mission in cycle

class Missions {
    class Mission1 {
        template = co10_Escape_CUP_RU_vs_USMC_and_RACS.Altis;
        difficulty = "Recruit";
        class Params {};
    };
};

missionWhitelist[] = {}; // An empty whitelist means there is no restriction on what missions' available
